.addFactory,
a.addFactory:link,
a.addFactory,
a.addFactory:visited,
a.addFactory:hover,
a.addFactory:active {
  text-decoration: none;
  color: white;
}
.wrapper {
  display: flex;
  justify-content: center;
}
.title {
  text-transform: uppercase;
}
