a.back,
a.back:link,
a.back:visited,
a.back:hover,
a.back:active {
  text-transform: uppercase;
  text-decoration: none;
  color: white;
}
.flex {
  display: flex;
  align-items: center;
}
.title {
  text-transform: uppercase;
  color: white;
}
