.addFactory {
  text-transform: uppercase;
  text-decoration: none;
  color: white;
}
a.addFactory:link,
a.addFactory,
a.addFactory:visited,
a.addFactory:hover,
a.addFactory:active {
  text-decoration: none;
  color: white;
}
.flex {
  display: flex;
  align-items: center;
}
