.table td,
.table th {
  text-align: center;
  vertical-align: middle;
}
.addLocation {
  display: flex;
  justify-content: center;
  align-items: baseline;
}
.addTitle {
  text-transform: uppercase;
  margin-left: 5px;
  text-transform: uppercase;
  text-decoration: none;
  color: white;
}
.addLocationWrapper {
  display: flex;
  justify-content: center;
}

a.addLocation:link,
a.addLocation,
a.addLocation:visited,
a.addLocation:hover,
a.addLocation:active {
  text-decoration: none;
}
.addressWrapper {
  display: flex;
  align-items: center;
  align-content: flex-end;
  justify-content: center;
}
.address {
  display: flex;
  justify-content: center;
  align-items: center;
}
.btnAddLocation {
  margin: 10px 0;
}
