.spinner {
  display: flex;
  align-items: center;
  flex-direction: column-reverse;
}

.table td,
.table tr {
  text-align: center;
  vertical-align: middle;
}
.addLocation {
  display: flex;
  justify-content: center;
  align-items: baseline;
}
.addTitle {
  text-transform: uppercase;
  margin-left: 5px;
  text-transform: uppercase;
  text-decoration: none;
  color: white;
}
.addLocationWrapper {
  display: flex;
  justify-content: center;
}

.addTitle::link,
.addTitle::visited,
.addTitle::hover,
.addTitle::active {
  text-decoration: none;
}
