.addFactory {
  text-transform: uppercase;
  text-decoration: none;
  color: white;
}
.buttons {
  display: flex;
  justify-content: space-between;
}
.submit {
  text-transform: uppercase;
}
.title {
  text-align: center;
}
.spinner {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column-reverse;
}
