.buttons {
  display: flex;
  justify-content: space-between;
}
.submit {
  text-transform: uppercase;
}
.title {
  text-align: center;
}
.invalidTitle {
  width: 100%;
  margin-top: 0.25rem;
  font-size: 0.875em;
  color: #dc3545;
}
